<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title>CRM - food</title>
 </head>
 <body bgcolor="d5713f">
 <table border="1" bordercolor="cc215a" width="800" align="center"> 
 <tr> 
 <td bgcolor="e6e6fa"> 

 <table border="1" bordercolor="cc215a" width="790" height="200"
 cellpadding="10"> 
 <tr> 
 <th background="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQKzFyaWgHfC8SlDn1yLBak3uiVyufs1r1mPUGW7IadurrGOgne"> 
 <h1><font color="black" face="Monotype Corsiva">CRM-food</font> 
 <h3 align="left"> 
 <font color="black"><font size=+2>Описание сайта,
 адрес и телефон организации</font></font> 
 </h3> 
 </h1> 
 </th> 
 </tr> 
 </table>  
 <table border="1" bordercolor="cc215a" width="790" cellpadding="10"> 
         <tr> 
         <td rowspan="4" width="600" bgcolor="e6e6fa"> 
            <br><br><a href="/admin">Админ</a>
            <br><br><a href="{% url 'department' %}">Департамент</a>
            <br><br><a href="{% url 'category' %}">Категория</a>
            <br><br><a href="{% url 'status' %}">Статус</a>
            <br><br><a href="{% url 'role' %}">Роль</a>
            <br><br><a href="{% url 'user' %}">Пользователь</a>
            <br><br><a href="{% url 'table' %}">Стол</a>
            <br><br><a href="{% url 'meal' %}">Еда</a>
            <br><br><a href="{% url 'order' %}">Заказ</a>
            <br><br><a href="{% url 'check' %}">Чек</a>
         </td> 
         
         </tr> 
        
         </td> 
         </tr> 
         </tr> 
         </table> 
         </table> 
         </body> 
         </html>